.card {
    background: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    position: relative;
}
.like__container {
    width: 48px;
    height: 48px;
    background-color: #fff;
    border-radius: 1000px;
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.like__container > button {
    border: none;
    cursor: pointer;
    background: none;
}

.like__container:hover {

}
.like__img {
    width: 24px;
    height: 23px;
    transition: .4s;
    margin-top: 5px;
    cursor: pointer;
}
.like__img:hover {
    transform: scale(1.2);
    transition: .4s;
}
.card__picture {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}
.card__img {
    object-fit: cover;
    width: 100%;
    height: 280px;
}
.info {
    padding: 24px;
}
.info__title {
    line-height: 24px;
    font-size: 20px;
    margin-bottom: 5px;
}