.header {
    padding-top: 64px;
}
.haeder__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    letter-spacing: -0.02em;
}
.header__subtitle {
    font-weight: 400;
    font-size: 21px;
    line-height: 36px;
}
